# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Python
__pycache__
.venv

#Environment
**/temp/
.env
.env.bak
*-credentials.json
/qwen-env/

#Data
data
